<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Edit Student List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-card>
          <ion-card *ngFor="let student of students">
            <ion-card-title class="ion-padding">
              {{student.name}}
            </ion-card-title>
            <ion-item>
              <ion-button (click)="deleteStudent(student)" style="display:inline" slot="end" color="danger">
                <ion-icon slot="end" name="trash-outline"></ion-icon>
                Delete
              </ion-button>
              <ion-button (click)="openModal(student)" style="display:inline" slot="start" color="warning">
                <ion-icon slot="end" name="pencil-outline"></ion-icon>
                Edit
              </ion-button>
            </ion-item>
          </ion-card>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>